@import url(https://fonts.googleapis.com/css?family=Heebo:400,500,700,900&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-s-facebook:before {
  content: ""
}
._icon-s-instagram:before {
  content: ""
}
._icon-s-linkedin:before {
  content: ""
}
._icon-s-twitter:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #21243d;
  line-height: 1;
  font-family: Heebo,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Heebo,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
* {
  -webkit-tap-highlight-color: transparent
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 55.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.45;
  display: inline-flex;
  text-align: center;
  padding: .45em 1em;
  background-color: #ff6464;
  border-radius: .125rem;
  color: #fff;
  transition: background-color .3s ease 0s
}
.button--fw {
  width: 100%
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: .3125rem
}
.menu__link {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.45;
  color: #000;
  transition: color .3s ease 0s
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title-posts {
  font-size: 1.375rem;
  line-height: 1.3636363636
}
.text {
  line-height: 1.4375
}
.works__item {
  display: flex;
  align-items: flex-start;
  -webkit-column-gap: 1.125rem;
  -moz-column-gap: 1.125rem;
  column-gap: 1.125rem;
  row-gap: 1.125rem;
  border-bottom: .0625rem solid #e0e0e0
}
.works__image {
  flex: 0 0 15.375rem;
  min-width: 15.375rem;
  height: 11.25rem;
  border-radius: .375rem;
  overflow: hidden;
  transition: all .3s ease 0s
}
.works__image img {
  width: 100%;
  height: 100%
}
.works__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.125rem
}
.works__title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.4666666667;
  transition: color .3s ease 0s
}
.works__info {
  align-self: flex-start;
  display: inline-flex;
  align-items: center;
  -webkit-column-gap: 1.625rem;
  -moz-column-gap: 1.625rem;
  column-gap: 1.625rem
}
.works__year {
  align-self: flex-start;
  background-color: #142850;
  border-radius: 1rem;
  padding: .3125rem .625rem .1875rem .625rem;
  font-size: 1.125rem;
  font-weight: 900;
  color: #fff;
  text-align: center
}
.works__category {
  font-size: 1.25rem;
  line-height: 1.45;
  color: #8695a4
}
.works__text {
  flex: 1 1 auto
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-column-gap: 2.1875rem;
  -moz-column-gap: 2.1875rem;
  column-gap: 2.1875rem
}
.social__link {
  font-size: 1.875rem;
  transition: color .3s ease 0s
}
._active {
  color: #ff6464
}
.header__container {
  max-width: 66.375rem;
  min-height: 5.125rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
  display: flex;
  align-items: center;
  justify-content: flex-end
}
.footer__content {
  text-align: center
}
.footer__social:not(:last-child) {
  margin-bottom: 1.625em
}
.footer__copyright {
  font-size: .875rem;
  line-height: 1.5
}
.works-page__title {
  font-size: 2.75rem;
  line-height: 1.3636363636;
  font-weight: 700
}
.promo__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-column-gap: 2.8125rem;
  -moz-column-gap: 2.8125rem;
  column-gap: 2.8125rem
}
.promo__body {
  padding-top: 1.125rem;
  flex: 0 1 31.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.8125rem
}
.promo__title {
  font-size: 2.75rem;
  line-height: 1.3636363636;
  font-weight: 700
}
.promo__text {
  flex: 1 1 auto
}
.promo__button {
  align-self: flex-start
}
.promo__image {
  flex: 0 0 15.1875rem;
  min-width: 15.1875rem;
  height: 15.1875rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -5px 13px 0 0 #edf7fa
}
.promo__image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%
}
.recent-posts {
  background-color: #edf7fa
}
.recent-posts__content {
  padding-top: 1.375rem;
  padding-bottom: 2.375rem
}
.recent-posts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.recent-posts__header:not(:last-child) {
  margin-bottom: .9375rem
}
.recent-posts__view-all {
  flex: 0 0 auto;
  line-height: 1.4375;
  color: #00a8cc;
  transition: color .3s ease 0s
}
.recent-posts__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.625rem;
  row-gap: 1.25rem
}
.recent-posts__item {
  min-width: 20.625rem;
  flex: 0 1 50%;
  padding: 0 .625rem
}
.recent-post {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 1.625rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 .25rem .625rem 0 rgba(187,225,250,.25);
  border-radius: .25rem;
  background-color: #fff
}
.recent-post__title {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.4615384615;
  transition: color .3s ease 0s
}
.recent-post__info {
  font-size: 1.125rem;
  line-height: 1.4444444444;
  display: inline-flex;
  align-self: flex-start;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.recent-post__date {
  flex: 0 0 auto
}
.recent-post__category {
  flex: 0 0 auto;
  color: #8695a4
}
.recent-post__text {
  flex: 1 1 auto
}
.featured-works__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.625rem;
  padding-top: 1.875rem;
  padding-bottom: 5rem
}
.blog__title {
  font-size: 2.75rem;
  line-height: 1.3636363636;
  font-weight: 700
}
.post {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  border-bottom: .0625rem solid #e0e0e0
}
.post__title {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.4666666667;
  transition: color .3s ease 0s
}
.post__info {
  font-size: 1.25rem;
  line-height: 1.45;
  display: inline-flex;
  align-self: flex-start;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.post__date {
  flex: 0 0 auto
}
.post__category {
  flex: 0 0 auto;
  color: #8695a4
}
.article__container {
  max-width: 44.4375rem
}
.article__content {
  display: flex;
  flex-direction: column
}
.article__title {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 1.4705882353
}
.article__info {
  display: inline-flex;
  align-items: center;
  -webkit-column-gap: 1.625rem;
  -moz-column-gap: 1.625rem;
  column-gap: 1.625rem
}
.article__year {
  align-self: flex-start;
  background-color: #ff7c7c;
  border-radius: 1rem;
  padding: .3125rem .625rem .1875rem .625rem;
  font-size: 1.125rem;
  font-weight: 900;
  color: #fff;
  text-align: center
}
.article__category {
  font-size: 1.25rem;
  line-height: 1.45;
  color: #8695a4
}
.article__body {
  display: flex;
  flex-direction: column
}
.article__image img {
  max-width: 100%
}
@media (min-width:55.375em) {
  .works__item {
    padding-top: 1.9375rem
  }
  .works__item {
    padding-bottom: 1.9375rem
  }
  .footer__content {
    padding-top: 3.1875rem
  }
  .footer__content {
    padding-bottom: 3.375rem
  }
  .works-page__content {
    padding-top: 4.9375rem
  }
  .works-page__content {
    padding-bottom: 3.3125rem
  }
  .works-page__title:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .promo {
    padding-top: 3.6875rem
  }
  .promo__content {
    padding-top: 4.4375rem
  }
  .promo__content {
    padding-bottom: 4.4375rem
  }
  .promo__body {
    padding-top: 1.125rem
  }
  .featured-works__content {
    padding-bottom: 5rem
  }
  .featured-works__content {
    padding-top: 1.875rem
  }
  .featured-works__title:not(:last-child) {
    margin-bottom: .375rem
  }
  .blog__content {
    padding-top: 4.9375rem
  }
  .blog__content {
    padding-bottom: 3.5625rem
  }
  .blog__title:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .post {
    padding-top: 1.9375rem
  }
  .post {
    padding-bottom: 1.9375rem
  }
  .article__content {
    padding-top: 4.9375rem
  }
  .article__content {
    padding-bottom: 3.5625rem
  }
  .article__content {
    row-gap: 1.875rem
  }
  .article__body {
    row-gap: 1.875rem
  }
}
@media (min-width:120em) {
  .menu__list {
    -webkit-column-gap: 2.0625rem;
    -moz-column-gap: 2.0625rem;
    column-gap: 2.0625rem
  }
}
@media (max-width:48em) {
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .promo__body {
    padding-top: .0000000625rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    z-index: 5;
    overflow: auto;
    padding: 4.375rem .9375rem .9375rem 1.875rem;
    transition: top .8s ease 0s;
    background-color: rgba(255,255,255,.9)
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: 0;
    top: -100%;
    z-index: 5;
    transition: top .8s ease 0s;
    background-color: #fff
  }
  .menu-open .menu__body {
    top: 0
  }
  .menu-open .menu__body::before {
    top: 0
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.25rem
  }
  .menu__item {
    text-align: center
  }
  .menu__link {
    font-size: 2.5rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .title-posts {
    text-align: center;
    font-size: 1.125rem
  }
  .works__title {
    font-size: 1.5rem
  }
  .header__container {
    min-height: 3.125rem
  }
  .works-page__title {
    font-size: 1.75rem
  }
  .promo__content {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    row-gap: 2.6875rem;
    padding-left: .625rem;
    padding-right: .625rem
  }
  .promo__body {
    row-gap: 1.6875rem;
    flex: 0 1 auto
  }
  .promo__title {
    font-size: 2rem
  }
  .promo__button {
    align-self: center
  }
  .promo__image {
    flex: 0 0 10.67875rem;
    min-width: 10.67875rem;
    height: 10.67875rem
  }
  .recent-posts__header {
    justify-content: center
  }
  .recent-posts__view-all {
    display: none
  }
  .recent-posts__items {
    row-gap: 1.0625rem
  }
  .recent-post {
    row-gap: 1.25rem;
    padding: .75rem 1.25rem 1.25rem 1.25rem
  }
  .recent-post__title {
    font-size: 1.375rem
  }
  .recent-post__info {
    font-size: 1rem
  }
  .blog__title {
    font-size: 1.75rem
  }
  .post__title {
    font-size: 1.625rem
  }
  .post__info {
    font-size: 1rem
  }
  .article__title {
    font-size: 1.75rem
  }
  .article__category {
    font-size: 1.125rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:41.875rem) {
  .works_scroll {
    display: flex;
    overflow: auto;
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .works__item {
    flex-direction: column;
    align-items: stretch
  }
  .works__image {
    position: relative;
    padding-bottom: 60%;
    flex: 0 0 11.25rem
  }
  .works__image img {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    left: 0
  }
  .recent-posts__item {
    flex: 0 1 100%
  }
}
@media (max-width:41.875rem)and (max-width:41.875rem) {
  .works_scroll .works__item {
    flex: 0 0 90%
  }
}
@media (max-width:23.4375em) {
  .works__item {
    padding-top: 1.0625rem
  }
  .works__item {
    padding-bottom: 1.0625rem
  }
  .footer__content {
    padding-top: 1.9375rem
  }
  .footer__content {
    padding-bottom: 2.125rem
  }
  .works-page__content {
    padding-top: 1.5rem
  }
  .works-page__content {
    padding-bottom: 2.0625rem
  }
  .works-page__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .promo {
    padding-top: .0000000625rem
  }
  .promo__content {
    padding-top: 2.0625rem
  }
  .promo__content {
    padding-bottom: 3.625rem
  }
  .featured-works__content {
    padding-bottom: 1.875rem
  }
  .featured-works__content {
    padding-top: 1.4375rem
  }
  .featured-works__title:not(:last-child) {
    margin-bottom: .0000000625rem
  }
  .blog__content {
    padding-top: 1.5rem
  }
  .blog__content {
    padding-bottom: 2.0625rem
  }
  .blog__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .post {
    padding-top: 1.0625rem
  }
  .post {
    padding-bottom: 1.0625rem
  }
  .article__content {
    padding-top: 1.5rem
  }
  .article__content {
    padding-bottom: 2.0625rem
  }
  .article__content {
    row-gap: 1.5rem
  }
  .article__body {
    row-gap: 1.5rem
  }
}
@media (min-width:48em)and (max-width:120em) {
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.1875rem + 1.5625vw ,2.0625rem)) or (column-gap:clamp(0.9375rem ,0.1875rem + 1.5625vw ,2.0625rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.9375rem ,.1875rem + 1.5625vw ,2.0625rem);
      -moz-column-gap: clamp(.9375rem ,.1875rem + 1.5625vw ,2.0625rem);
      column-gap: clamp(.9375rem ,.1875rem + 1.5625vw ,2.0625rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.1875rem + 1.5625vw ,2.0625rem)) or (column-gap:clamp(0.9375rem ,0.1875rem + 1.5625vw ,2.0625rem))) {
    .menu__list {
      -webkit-column-gap: calc(.9375rem + 1.125*(100vw - 48rem)/ 72);
      -moz-column-gap: calc(.9375rem + 1.125*(100vw - 48rem)/ 72);
      column-gap: calc(.9375rem + 1.125*(100vw - 48rem)/ 72)
    }
  }
}
@media (min-width:23.4375em)and (max-width:55.375em) {
  @supports (padding-top:clamp(1.0625rem ,0.4203767123rem + 2.7397260274vw ,1.9375rem)) {
    .works__item {
      padding-top: clamp(1.0625rem ,.4203767123rem + 2.7397260274vw ,1.9375rem)
    }
  }
  @supports not (padding-top:clamp(1.0625rem ,0.4203767123rem + 2.7397260274vw ,1.9375rem)) {
    .works__item {
      padding-top: calc(1.0625rem + .875*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-bottom:clamp(1.0625rem ,0.4203767123rem + 2.7397260274vw ,1.9375rem)) {
    .works__item {
      padding-bottom: clamp(1.0625rem ,.4203767123rem + 2.7397260274vw ,1.9375rem)
    }
  }
  @supports not (padding-bottom:clamp(1.0625rem ,0.4203767123rem + 2.7397260274vw ,1.9375rem)) {
    .works__item {
      padding-bottom: calc(1.0625rem + .875*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-top:clamp(1.9375rem ,1.0201810176rem + 3.9138943249vw ,3.1875rem)) {
    .footer__content {
      padding-top: clamp(1.9375rem ,1.0201810176rem + 3.9138943249vw ,3.1875rem)
    }
  }
  @supports not (padding-top:clamp(1.9375rem ,1.0201810176rem + 3.9138943249vw ,3.1875rem)) {
    .footer__content {
      padding-top: calc(1.9375rem + 1.25*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-bottom:clamp(2.125rem ,1.2076810176rem + 3.9138943249vw ,3.375rem)) {
    .footer__content {
      padding-bottom: clamp(2.125rem ,1.2076810176rem + 3.9138943249vw ,3.375rem)
    }
  }
  @supports not (padding-bottom:clamp(2.125rem ,1.2076810176rem + 3.9138943249vw ,3.375rem)) {
    .footer__content {
      padding-bottom: calc(2.125rem + 1.25*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-top:clamp(1.5rem ,-1.0226272016rem + 10.7632093933vw ,4.9375rem)) {
    .works-page__content {
      padding-top: clamp(1.5rem ,-1.0226272016rem + 10.7632093933vw ,4.9375rem)
    }
  }
  @supports not (padding-top:clamp(1.5rem ,-1.0226272016rem + 10.7632093933vw ,4.9375rem)) {
    .works-page__content {
      padding-top: calc(1.5rem + 3.4375*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-bottom:clamp(2.0625rem ,1.1451810176rem + 3.9138943249vw ,3.3125rem)) {
    .works-page__content {
      padding-bottom: clamp(2.0625rem ,1.1451810176rem + 3.9138943249vw ,3.3125rem)
    }
  }
  @supports not (padding-bottom:clamp(2.0625rem ,1.1451810176rem + 3.9138943249vw ,3.3125rem)) {
    .works-page__content {
      padding-bottom: calc(2.0625rem + 1.25*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.258072407rem + 1.5655577299vw ,1.125rem)) {
    .works-page__title:not(:last-child) {
      margin-bottom: clamp(.625rem ,.258072407rem + 1.5655577299vw ,1.125rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.258072407rem + 1.5655577299vw ,1.125rem)) {
    .works-page__title:not(:last-child) {
      margin-bottom: calc(.625rem + .5*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-top:clamp(0.0000000625rem ,-2.7060908897rem + 11.5459880626vw ,3.6875rem)) {
    .promo {
      padding-top: clamp(.0000000625rem ,-2.7060908897rem + 11.5459880626vw ,3.6875rem)
    }
  }
  @supports not (padding-top:clamp(0.0000000625rem ,-2.7060908897rem + 11.5459880626vw ,3.6875rem)) {
    .promo {
      padding-top: calc(.0000000625rem + 3.6874999375*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-top:clamp(2.0625rem ,0.3195939335rem + 7.4363992172vw ,4.4375rem)) {
    .promo__content {
      padding-top: clamp(2.0625rem ,.3195939335rem + 7.4363992172vw ,4.4375rem)
    }
  }
  @supports not (padding-top:clamp(2.0625rem ,0.3195939335rem + 7.4363992172vw ,4.4375rem)) {
    .promo__content {
      padding-top: calc(2.0625rem + 2.375*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-bottom:clamp(3.625rem ,3.0287426614rem + 2.5440313112vw ,4.4375rem)) {
    .promo__content {
      padding-bottom: clamp(3.625rem ,3.0287426614rem + 2.5440313112vw ,4.4375rem)
    }
  }
  @supports not (padding-bottom:clamp(3.625rem ,3.0287426614rem + 2.5440313112vw ,4.4375rem)) {
    .promo__content {
      padding-bottom: calc(3.625rem + .8125*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,-0.418297456rem + 9.7847358121vw ,5rem)) {
    .featured-works__content {
      padding-bottom: clamp(1.875rem ,-.418297456rem + 9.7847358121vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,-0.418297456rem + 9.7847358121vw ,5rem)) {
    .featured-works__content {
      padding-bottom: calc(1.875rem + 3.125*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-top:clamp(1.4375rem ,1.1164383562rem + 1.3698630137vw ,1.875rem)) {
    .featured-works__content {
      padding-top: clamp(1.4375rem ,1.1164383562rem + 1.3698630137vw ,1.875rem)
    }
  }
  @supports not (padding-top:clamp(1.4375rem ,1.1164383562rem + 1.3698630137vw ,1.875rem)) {
    .featured-works__content {
      padding-top: calc(1.4375rem + .4375*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (margin-bottom:clamp(0.0000000625rem ,-0.2751955864rem + 1.1741681018vw ,0.375rem)) {
    .featured-works__title:not(:last-child) {
      margin-bottom: clamp(.0000000625rem ,-.2751955864rem + 1.1741681018vw ,.375rem)
    }
  }
  @supports not (margin-bottom:clamp(0.0000000625rem ,-0.2751955864rem + 1.1741681018vw ,0.375rem)) {
    .featured-works__title:not(:last-child) {
      margin-bottom: calc(.0000000625rem + .3749999375*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-top:clamp(1.5rem ,-1.0226272016rem + 10.7632093933vw ,4.9375rem)) {
    .blog__content {
      padding-top: clamp(1.5rem ,-1.0226272016rem + 10.7632093933vw ,4.9375rem)
    }
  }
  @supports not (padding-top:clamp(1.5rem ,-1.0226272016rem + 10.7632093933vw ,4.9375rem)) {
    .blog__content {
      padding-top: calc(1.5rem + 3.4375*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-bottom:clamp(2.0625rem ,0.9617172211rem + 4.6966731898vw ,3.5625rem)) {
    .blog__content {
      padding-bottom: clamp(2.0625rem ,.9617172211rem + 4.6966731898vw ,3.5625rem)
    }
  }
  @supports not (padding-bottom:clamp(2.0625rem ,0.9617172211rem + 4.6966731898vw ,3.5625rem)) {
    .blog__content {
      padding-bottom: calc(2.0625rem + 1.5*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.258072407rem + 1.5655577299vw ,1.125rem)) {
    .blog__title:not(:last-child) {
      margin-bottom: clamp(.625rem ,.258072407rem + 1.5655577299vw ,1.125rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.258072407rem + 1.5655577299vw ,1.125rem)) {
    .blog__title:not(:last-child) {
      margin-bottom: calc(.625rem + .5*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-top:clamp(1.0625rem ,0.4203767123rem + 2.7397260274vw ,1.9375rem)) {
    .post {
      padding-top: clamp(1.0625rem ,.4203767123rem + 2.7397260274vw ,1.9375rem)
    }
  }
  @supports not (padding-top:clamp(1.0625rem ,0.4203767123rem + 2.7397260274vw ,1.9375rem)) {
    .post {
      padding-top: calc(1.0625rem + .875*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-bottom:clamp(1.0625rem ,0.4203767123rem + 2.7397260274vw ,1.9375rem)) {
    .post {
      padding-bottom: clamp(1.0625rem ,.4203767123rem + 2.7397260274vw ,1.9375rem)
    }
  }
  @supports not (padding-bottom:clamp(1.0625rem ,0.4203767123rem + 2.7397260274vw ,1.9375rem)) {
    .post {
      padding-bottom: calc(1.0625rem + .875*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-top:clamp(1.5rem ,-1.0226272016rem + 10.7632093933vw ,4.9375rem)) {
    .article__content {
      padding-top: clamp(1.5rem ,-1.0226272016rem + 10.7632093933vw ,4.9375rem)
    }
  }
  @supports not (padding-top:clamp(1.5rem ,-1.0226272016rem + 10.7632093933vw ,4.9375rem)) {
    .article__content {
      padding-top: calc(1.5rem + 3.4375*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-bottom:clamp(2.0625rem ,0.9617172211rem + 4.6966731898vw ,3.5625rem)) {
    .article__content {
      padding-bottom: clamp(2.0625rem ,.9617172211rem + 4.6966731898vw ,3.5625rem)
    }
  }
  @supports not (padding-bottom:clamp(2.0625rem ,0.9617172211rem + 4.6966731898vw ,3.5625rem)) {
    .article__content {
      padding-bottom: calc(2.0625rem + 1.5*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (row-gap:clamp(1.5rem ,1.2248043053rem + 1.1741682975vw ,1.875rem)) {
    .article__content {
      row-gap: clamp(1.5rem ,1.2248043053rem + 1.1741682975vw ,1.875rem)
    }
  }
  @supports not (row-gap:clamp(1.5rem ,1.2248043053rem + 1.1741682975vw ,1.875rem)) {
    .article__content {
      row-gap: calc(1.5rem + .375*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (row-gap:clamp(1.5rem ,1.2248043053rem + 1.1741682975vw ,1.875rem)) {
    .article__body {
      row-gap: clamp(1.5rem ,1.2248043053rem + 1.1741682975vw ,1.875rem)
    }
  }
  @supports not (row-gap:clamp(1.5rem ,1.2248043053rem + 1.1741682975vw ,1.875rem)) {
    .article__body {
      row-gap: calc(1.5rem + .375*(100vw - 23.4375rem)/ 31.9375)
    }
  }
}
@media (min-width:48em)and (max-width:55.375em) {
  @supports (padding-top:clamp(0.0000000625rem ,-7.322033429rem + 15.2542364407vw ,1.125rem)) {
    .promo__body {
      padding-top: clamp(.0000000625rem ,-7.322033429rem + 15.2542364407vw ,1.125rem)
    }
  }
  @supports not (padding-top:clamp(0.0000000625rem ,-7.322033429rem + 15.2542364407vw ,1.125rem)) {
    .promo__body {
      padding-top: calc(.0000000625rem + 1.1249999375*(100vw - 48rem)/ 7.375)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #bb4949
  }
  .menu__link:hover {
    color: #ff6464
  }
  .works__image:hover {
    box-shadow: .25rem .1875rem .75rem .1875rem rgba(0,0,0,.233)
  }
  .works__title:hover {
    color: #ff6464
  }
  .social__link:hover {
    color: #ff6464
  }
  .recent-posts__view-all:hover {
    color: #ff6464
  }
  .recent-post__title:hover {
    color: #ff6464
  }
  .post__title:hover {
    color: #ff6464
  }
}