@import url(https://fonts.googleapis.com/css?family=Heebo:400,500,700,900&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-s-facebook:before {
  content: ""
}
._icon-s-instagram:before {
  content: ""
}
._icon-s-linkedin:before {
  content: ""
}
._icon-s-twitter:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #21243d;
  line-height: 1;
  font-family: Heebo,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Heebo,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
* {
  -webkit-tap-highlight-color: transparent
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 55.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.45;
  display: inline-flex;
  text-align: center;
  padding: .45em 1em;
  background-color: #ff6464;
  border-radius: .125rem;
  color: #fff;
  transition: background-color .3s ease 0s
}
.button--fw {
  width: 100%
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: .3125rem
}
.menu__link {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.45;
  color: #000;
  transition: color .3s ease 0s
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title-posts {
  font-size: 1.375rem;
  line-height: 1.3636363636
}
.text {
  line-height: 1.4375
}
.header__container {
  max-width: 66.375rem;
  min-height: 82px;
  padding-top: .625rem;
  padding-bottom: .625rem;
  display: flex;
  align-items: center;
  justify-content: flex-end
}
.promo__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-column-gap: 2.8125rem;
  -moz-column-gap: 2.8125rem;
  column-gap: 2.8125rem
}
.promo__body {
  padding-top: 1.125rem;
  flex: 0 1 31.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.8125rem
}
.promo__title {
  font-size: 2.75rem;
  line-height: 1.3636363636;
  font-weight: 700
}
.promo__button {
  align-self: flex-start
}
.promo__image {
  flex: 0 0 15.1875rem;
  min-width: 15.1875rem;
  height: 15.1875rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -5px 13px 0 0 #edf7fa
}
.promo__image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%
}
.recent-posts {
  background-color: #edf7fa
}
.recent-posts__content {
  padding-top: 1.375rem;
  padding-bottom: 1.875rem
}
.recent-posts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.recent-posts__header:not(:last-child) {
  margin-bottom: .9375rem
}
.recent-posts__view-all {
  flex: 0 0 auto;
  line-height: 1.4375;
  color: #00a8cc;
  transition: color .3s ease 0s
}
.recent-posts__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.625rem;
  row-gap: 1.25rem
}
.recent-posts__item {
  min-width: 20.625rem;
  flex: 0 1 50%;
  padding: 0 .625rem
}
.recent-post {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 1.625rem;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 .25rem .625rem 0 rgba(187,225,250,.25);
  border-radius: .25rem;
  background-color: #fff
}
.recent-post__title {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.4615384615;
  transition: color .3s ease 0s
}
.recent-post__info {
  font-size: 1.125rem;
  line-height: 1.4444444444;
  display: flex;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  font-size: 1.125rem
}
.recent-post__data {
  flex: 0 0 auto
}
.recent-post__work {
  flex: 0 0 auto
}
@media (min-width:55.375em) {
  .promo {
    padding-top: 3.6875rem
  }
  .promo__content {
    padding-top: 4.4375rem
  }
  .promo__content {
    padding-bottom: 4.4375rem
  }
  .promo__body {
    padding-top: 1.125rem
  }
}
@media (min-width:120em) {
  .menu__list {
    -webkit-column-gap: 2.0625rem;
    -moz-column-gap: 2.0625rem;
    column-gap: 2.0625rem
  }
}
@media (max-width:48em) {
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .promo__body {
    padding-top: .0000000625rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    overflow: auto;
    padding: 4.375rem .9375rem .9375rem 1.875rem;
    transition: top .8s ease 0s;
    background-color: rgba(255,255,255,.9)
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: 0;
    top: -100%;
    transition: top .8s ease 0s;
    z-index: 2;
    background-color: #fff
  }
  .menu-open .menu__body {
    top: 0
  }
  .menu-open .menu__body::before {
    top: 0
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.25rem
  }
  .menu__item {
    text-align: center
  }
  .menu__link {
    font-size: 2.5rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .title-posts {
    text-align: center;
    font-size: 1.125rem
  }
  .header__container {
    min-height: 50px
  }
  .promo__content {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    row-gap: 2.6875rem;
    padding-left: .625rem;
    padding-right: .625rem
  }
  .promo__body {
    row-gap: 1.6875rem;
    flex: 0 1 auto
  }
  .promo__title {
    font-size: 2rem
  }
  .promo__button {
    align-self: center
  }
  .promo__image {
    flex: 0 0 10.67875rem;
    min-width: 10.67875rem;
    height: 10.67875rem
  }
  .recent-posts__content {
    padding-bottom: 2.375rem
  }
  .recent-posts__header {
    justify-content: center
  }
  .recent-posts__view-all {
    display: none
  }
  .recent-posts__items {
    row-gap: 1.0625rem
  }
  .recent-post {
    row-gap: 1.25rem;
    padding: .75rem 1.25rem 1.25rem 1.25rem
  }
  .recent-post__title {
    font-size: 1.375rem
  }
  .recent-post__info {
    font-size: 1rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:41.875rem) {
  .recent-posts__item {
    flex: 0 1 100%
  }
}
@media (max-width:23.4375em) {
  .promo {
    padding-top: .0000000625rem
  }
  .promo__content {
    padding-top: 2.0625rem
  }
  .promo__content {
    padding-bottom: 3.625rem
  }
}
@media (min-width:48em)and (max-width:120em) {
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.1875rem + 1.5625vw ,2.0625rem)) or (column-gap:clamp(0.9375rem ,0.1875rem + 1.5625vw ,2.0625rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.9375rem ,.1875rem + 1.5625vw ,2.0625rem);
      -moz-column-gap: clamp(.9375rem ,.1875rem + 1.5625vw ,2.0625rem);
      column-gap: clamp(.9375rem ,.1875rem + 1.5625vw ,2.0625rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.1875rem + 1.5625vw ,2.0625rem)) or (column-gap:clamp(0.9375rem ,0.1875rem + 1.5625vw ,2.0625rem))) {
    .menu__list {
      -webkit-column-gap: calc(.9375rem + 1.125*(100vw - 48rem)/ 72);
      -moz-column-gap: calc(.9375rem + 1.125*(100vw - 48rem)/ 72);
      column-gap: calc(.9375rem + 1.125*(100vw - 48rem)/ 72)
    }
  }
}
@media (min-width:23.4375em)and (max-width:55.375em) {
  @supports (padding-top:clamp(0.0000000625rem ,-2.7060908897rem + 11.5459880626vw ,3.6875rem)) {
    .promo {
      padding-top: clamp(.0000000625rem ,-2.7060908897rem + 11.5459880626vw ,3.6875rem)
    }
  }
  @supports not (padding-top:clamp(0.0000000625rem ,-2.7060908897rem + 11.5459880626vw ,3.6875rem)) {
    .promo {
      padding-top: calc(.0000000625rem + 3.6874999375*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-top:clamp(2.0625rem ,0.3195939335rem + 7.4363992172vw ,4.4375rem)) {
    .promo__content {
      padding-top: clamp(2.0625rem ,.3195939335rem + 7.4363992172vw ,4.4375rem)
    }
  }
  @supports not (padding-top:clamp(2.0625rem ,0.3195939335rem + 7.4363992172vw ,4.4375rem)) {
    .promo__content {
      padding-top: calc(2.0625rem + 2.375*(100vw - 23.4375rem)/ 31.9375)
    }
  }
  @supports (padding-bottom:clamp(3.625rem ,3.0287426614rem + 2.5440313112vw ,4.4375rem)) {
    .promo__content {
      padding-bottom: clamp(3.625rem ,3.0287426614rem + 2.5440313112vw ,4.4375rem)
    }
  }
  @supports not (padding-bottom:clamp(3.625rem ,3.0287426614rem + 2.5440313112vw ,4.4375rem)) {
    .promo__content {
      padding-bottom: calc(3.625rem + .8125*(100vw - 23.4375rem)/ 31.9375)
    }
  }
}
@media (min-width:48em)and (max-width:55.375em) {
  @supports (padding-top:clamp(0.0000000625rem ,-7.322033429rem + 15.2542364407vw ,1.125rem)) {
    .promo__body {
      padding-top: clamp(.0000000625rem ,-7.322033429rem + 15.2542364407vw ,1.125rem)
    }
  }
  @supports not (padding-top:clamp(0.0000000625rem ,-7.322033429rem + 15.2542364407vw ,1.125rem)) {
    .promo__body {
      padding-top: calc(.0000000625rem + 1.1249999375*(100vw - 48rem)/ 7.375)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #bb4949
  }
  .menu__link:hover {
    color: #ff6464
  }
  .recent-posts__view-all:hover {
    color: #ff6464
  }
  .recent-post__title:hover {
    color: #ff6464
  }
}